
<head>
    <meta charset="utf-8">
    <title>Phaser New Game</title>
</head>
<body>
  {{#if msg}}
  {{msg}}
  {{/if}}
  <form method="post" action="/create_game" novalidate>
    <button class="btn" type="submit">Create Game</button>
  </form>

</body>
