<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/phaser@3.60.0/dist/phaser.js"></script>
   <style> 
    #alertBar{
      height: 6vh;
      border: 8px solid black;
      font-size: 25px;
      font-weight: bold;
      width:70vw;
      display: inline-block;
      vertical-align: top;
    }


      #playerindicator{
      height: 6vh;
      width:20vw;
      border: 8px solid black;
      font-size: 25px;
      font-weight: bold;
      display:inline-block;
      vertical-align: top;
    }

      #playerindicator > *{
     display: blockremo;
    }

     .button{
     display: inline-block;
       font-size: 50px;
    }
    #button-container{
             height:5vh

    }
    #top-contaienr{
      display: flex;
      vertical-align:top;
    }

    #game{
      overflow:auto;
      height:85vh;
    }
 
  </style> 
  <script type="text/javascript">
    let key="{{key}}";
    let server={{server}}
    let host="{{host}}"

  </script>

   <script type="module" src="/scripts/phaser.js"></script>
    <script type="module" src="/scenes/board.js"></script>
  <title>Gess</title>



</head>
<body>
<div id="top-container">
  <div id="alertBar"></div>
  <div id="playerindicator">
    <div></div>
     <div></div>
</div>
  <div id="button-container">
        <button id="plus-button" class="button">+</button>
  <button id="minus-button" class="button">-</button>
  </div>
    <div id="game"></div>


</body>
