
<head>
    <meta charset="utf-8">
    <title>Phaser Join Game</title>
</head>
<style>
  .centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -200%);
}
#title{
  font-size:80px
}
</style>
<body>
 <center> <h1 id="title">Gess</h1> </center> 
 <div class="centered">
  <a href="/join">Join a game</a>
  <br>
  <a href="/create">Create a new game</a>

 </div>
  

</body>
